.about h3 {
    text-align: center;
    margin: 25px;
    font-size: 30px;
}
.clearfix::after{
    content: "";
    clear: both;
    display: table;
}
.container{
    width: 990px;
    margin: 0 auto;
}
.list-1{
    background: url(../../components/About/img/main-pic.jpg) 0 100% no-repeat;
    min-height: 445px;
}
.list-1{
    padding-left: 303px;
}
.list-1 h1{
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: #555555;
    margin-top: 50px;
    margin-bottom: 25px;
}
.list-1 p{
    font-family: 'Montserrat', sans-serif;
    line-height: 28px;
    font-weight: 300;
    margin-bottom: 29px;
}
.arrow{
    list-style: none;
    margin: 0;
    padding: 0;
}
.arrow li{
    font-family: 'Montserrat', sans-serif;
    line-height: 32px;
    padding-left: 50px;
    margin-left: 49px;
    position: relative;
}
.arrow li::before{
    content: "";
    width: 21px;
    height: 21px;
    background: url(../../components/About/img/ic-arrow.png) 0 0 no-repeat;
    position: absolute;
    top: 3px;
    left: 0;
}