.home h3 {
    text-align: center;
    margin: 25px;
    font-size: 30px;
}
.clearfix::after{
    content: "";
    clear: both;
    display: table;
}
.container{
    width: 940px;
    margin: 0 auto;
}
.fon{
    width: 328px;
    height: 315px;
    background-color: #e9e6e6;
    padding: 20px 30px 24px;
}
.form-block-1{
    width: 267px;
    padding: 21px 20px 18px 19px;
    background-color: #ffffff;
    border-radius: 5px;
    position: relative;
}
.inp-field{
    display: block;
    margin-bottom: 17px;
    position: relative;
}
.form-block-1 h4{
    font-size: 16px;
    font-weight: bold;
    color: #475965;
    margin: 0 0 31px 0;
}
.inp-field input{
    width: 100%;
    height: 35px;
    border: 1px solid #727f8c;
    font-size: 13px;
    color: #727f8c;
    background: transparent;
    outline: none;
    padding-left: 57px;
    padding-right: 3px;
    opacity: 0.6;
}
.inp-field label{
    width: 44px;
    height: 100%;
    border-right: 1px solid #727f8c;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.6;
}
.user label{
    background: url(../../components/Home/img/ic-user.png) 50% 50% no-repeat;
}
.lock label{
    background: url(../../components/Home/img/ic-lock.png) 50% 50% no-repeat;
}
.inp-field input:focus{
    opacity: 1;
}
.inp-field input:focus + label{
    opacity: 1;
}
.form-row button{
    width: 100%;
    height: 40px;
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;
    background: #21b8c6;
    border: 1px solid #21b8c6;
    border-radius: 3px;
    margin-top: 6px;
}
.form-row p{
    font-size: 13px;
    color: #7d8e9a;
    margin: 15px 0 0 22px;
}
.form-row a{
    font-size: 13px;
    color: #475965;
    text-decoration: none;
}
.form-row a::before{
    content: "";
    width: 12px;
    height: 9px;
    background: url(../../components/Home/img/ic-arrow.png) 0 0 no-repeat;
    position: absolute;
    bottom: 21px;
    right: 38px;
}