.link-work {
    display: inline-block;
    padding: 5px 22px;
    color: #000000;
    text-decoration: none;
}
.work-item {
    position: relative;
    text-align: center;
}
.games {
    position: absolute;
    top: 0;
    left: 30%;
    width: 200px;
    height: 200px;
    background: url("../../components/Works/img/gamepad-solid.svg") 50% 50% no-repeat;
}
.pages {
    position: absolute;
    top: 0;
    right: 30%;
    width: 200px;
    height: 200px;
    background: url("../../components/Works/img/images-regular.svg") 50% 100% no-repeat;
}
.works h3 {
    text-align: center;
    margin: 25px;
    font-size: 30px;
}