.clearfix::after{
    content: "";
    clear: both;
    display: table;
}
.container{
    width: 940px;
    margin: 0 auto;
}
.logo{
    float: left;
    text-transform: uppercase;
    font-size: 30px;
    color: #fff;
    text-decoration: none;
    margin: 35px 0;
}
.logo-bold{
    font-weight: 900;

}
.main-nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.main-nav{
    float: right;
    font-weight: 300;
    padding: 25px 0;
}
.main-nav > ul{
    font-size: 0;
}
.main-nav > ul > li{
    display: inline-block;
    padding: 8px 0 10px;
    font-size: 24px;
    position: relative;
}
.main-nav > ul > li > a{
    display: inline-block;
    padding: 5px 22px;
    color: #ffffff;
    text-decoration: none;
    border-left: 1px solid #75c9e5;
    border-right: 1px solid #44a3bf;
}
.main-nav > ul > li:first-child > a{
    border-left: none;
}
.main-nav > ul > li:last-child > a{
    border-right: none;
}
.main-nav .sub > a{
    padding-right: 32px;
}
.main-nav .sub::before{
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 4px 0 4px;
    border-color: #ffffff transparent transparent transparent;
    position: absolute;
    top: 27px;
    right: 17px;
}
.main-nav > ul > li:hover{
    background: #4292ad;
    margin-left: -1px;
    padding-left: 1px;
}
.main-nav > ul > li:first-child:hover{
    margin-left: 0;
    padding-left: 0;
}
.main-nav > ul > li:hover > a{
    border-color: transparent;
}
.main-nav > ul > li:hover + li > a{
    border-left-color: transparent;
}
.main-nav .sub-nav{
    display: none;
    position: absolute;
    left: 0;
    top: 59px;
    background: #4292ad;
    padding: 10px 0 5px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    min-width: 250px;
}
.main-nav > ul > li:hover .sub-nav{
    display: block;
}
.sub-nav li{
    margin: 0 0 2px;
}
.sub-nav a{
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    white-space: nowrap;
    display: block;
    padding: 7px 24px;
}
.sub-nav a:hover{
    color: #1b3e4a;
    background: #61a5bc;
    font-weight: 400;
}