@media screen and (max-width: 950px){
	html{
		font-size: 8px;
	}
	.banner h1{
		font-size: 3.5rem;
	}
	.item{
		width: 50%;
		border-bottom: 1px solid #d5d5d5;
	}
	.item-2{
		border-right: none;
	}
	.item-3,
	.item-4{
		border-bottom: none;
	}
	.item p{
		font-size: 16px;
	}
	.box{
		width: 50%;
	}
	.text{
		margin: auto 10%;
	}
}
@media screen and (max-width: 550px){
	html{
		font-size: 7px;
	}
	.item{
		width: 100%;
		border-right: none;
	}
	.item-3{
		border-bottom: 1px solid #d5d5d5;
	}
	.box{
		width: 100%;
	}
}
