@import url('https://fonts.googleapis.com/css?family=Lato|PT+Sans:400,700|Source+Sans+Pro:300,400,700,900');
html{
  font-size: 10px;
}
body{
  font-family: 'Source Sans Pro', sans-serif;
  color: #637f83;
  background: #ffffff;
  font-size: 1.4rem;
  line-height: 1.3;
  min-width: 480px;
}
.container{
  min-width: 480px;
  max-width: 1200px;
  margin: 0 auto;
}
.head{
  margin: 25px 0 24px 15px;
}
header a{
  font-size: 3.2rem;
  text-decoration: none;
  color: #637f83;
  font-weight: 900;
}
.banner{
  height: 520px;
  background: url(../images/main-pic.jpg) 50% 0 no-repeat;
  text-align: center;
  color: #ffffff;
}
.banner h1{
  margin: 0 0 10px;
  font-family: 'PT Sans', sans-serif;
  font-size: 4rem;
  line-height: 5.2rem;
  font-weight: 700;
}
.banner a{
  color: #ffffff;
  letter-spacing: 0.3rem;
  text-decoration: none;
  border-bottom: 2px solid #ffffff;
}
.banner p{
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 2.6rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}
.banner .container{
  display: flex;
  height: 100%;
}
.txt{
  margin: auto 30%;
}
.main-title{
  height: 140px;
  text-align: center;
  margin: auto 10%;
}
.main-title h2{
  font-size: 3.4rem;
  font-weight: 700;
  margin: 0;
  padding: 31px 0 0 2px;
}
.main-title p{
  font-size: 2.4rem;
  font-weight: 300;
  margin: -5px 0;
}
.content{
  background: #f6f6f6;
}
.items{
  display: flex;
  flex-wrap: wrap;
}
.item{
  width: 25%;
  text-align: center;
  border-right: 1px solid #d5d5d5;
}
.inner{
  position: relative;
  padding: 62px 40px 67px;
  height: 100%;
}
.item h3{
  font-size: 22px;
  font-weight: 700;
  margin: 28px 5px 15px 0;
}
.item p{
  line-height: 2rem;
  margin-bottom: 31px;
}
.item a{
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
  background: #637f83;
  padding: 6px 17px 7px 17px;
  margin: 0 0 0 4px;
}
.icon{
  position: absolute;
  top: 5%;
  left: 37%;
  width: 64px;
  height: 64px;
}
.desktop {
  background: url("../images/desktop-solid.svg") 50% 50% no-repeat;
}
.flask {
  background: url("../images/flask-solid.svg") 50% 50% no-repeat;
}
.cogs {
  background: url("../images/cogs-solid.svg") 50% 50% no-repeat;
}
.bullhorn {
  background: url("../images/bullhorn-solid.svg") 50% 50% no-repeat;
}
.item-4{
  border: none;
}
.portfolio{
  padding: 40px 0 38px;
  text-align: center;
}
.text h4{
  font-size: 3.4rem;
  font-weight: 700;
  margin: 6px 0 0 2px;
}
.text p{
  font-size: 2.4rem;
  font-weight: 300;
  margin: -5px 10% 0;
  padding: 0 0 0 0;
}
.text{
  padding-bottom: 33px;
  overflow: hidden;
  position: relative;
}
.discription::before,
.discription::after{
  content: "";
  height: 1px;
  width: 50%;
  background: #d9d9d9;
  position: absolute;
  bottom: 0;
}
.discription::before{
  left: 0;
  margin-left: -4.4rem;
}
.discription::after{
  right: 0;
  margin-right: -4.4rem;
}
.folios{
  display: flex;
  flex-wrap: wrap;
  padding-top: 36px;
}
.box{
  width: 25%;
  padding: 15px;
}
.link{
  padding: 30px 0;
}
.link a{
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  color: #ffffff;
  border-radius: 5px;
  background: #e4551d;
  padding: 9px 20px 9px 18px;
  margin: 0 2px 0 0;
}
footer{
  background: #637f83;
  text-align: center;
  padding: 24px 0 4.9rem;
}
footer p{
  color: #ffffff;
  margin: 14px 0px 0 -10px;
}
footer p a{
  text-decoration: none;
  color: #ffffff;
}


